# Linux specific
*~

# Omnet++ specific
*_m.h
*_m.cc
**/results/
**/out/
**/Makefile
**/.tkenvrc
**/.computed

# Eclipse specific
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Java files
*.class
hs_err_pid*

# Freemaker
**/NetworkGenerator/freemraker-2.3.21/

# Python files
__pycache__/
*.py[cod]

# R files
.Rhistory
.Rapp.history
*-Ex.R
.Rproj.user/
